PyMuPDF
Flask==3.0.3
pandas==2.2.2
Requests==2.32.3
scikit_learn==1.4.2
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
torch==2.3.0
transformers==4.41.0
